{% extends "ProyectoCoder1App/padre.html" %}

{% load static %}

{% block ContenidoQueCambia %}

<p>Buscar joven por nombre: 
    <form action="" method="post">
        {% csrf_token %}

        <input type="text" name="nombre" id="" maxlength="40"> </p>
        <!-- <P>Apellido: <input type="text" name="apellido" id="" maxlength="40"></P>
        <P>Edad: <input type="number" name="edad" id min="0"> </P> -->

        

        <input type="submit" value="Buscar">
    </form> 
</p>

<p>Resultados: </p>
<ul>

    {%for resultado in nombres%}
        <li>{{resultado.nombre}} [{{resultado.apellido}}] [{{resultado.edad}}]</li>
    {%endfor%}
</ul>

{% endblock %}